[tool.black]
line-length = 100
target-version = ['py38']

[tool.isort]
profile = "black"
line_length = 100

[tool.pytest.ini_options]
minversion = "7.0"
addopts = "-ra -q"
testpaths = [
    "CNN",
    "FeedForwardNeuralNetwork",
    "numpy",
    "Regularization_Recurrent"
]
